# Dependências de pacotes
node_modules/

# caches / logs locais
.npm-cache/
.logs/

# Variáveis locais e senhas
.env
.env.local
.env.*
!.env.example

# Arquivos de log e sistema
npm-debug.log*
.DS_Store

# Builds
dist/
frontend/dist/
